
<div class="footer">

  Buy the Way

</div>



 <!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


 <!-- Bootstrap JS CDN -->
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- STRIPE JS CDN -->
<script src="https://js.stripe.com/v3/"></script>
<script src="/scripts/spin.min.js"></script>

 <script src="/scripts/custom.js"></script>
 <script src="/scripts/carousel.js"></script>

      </body>
  </html>
