.navbar {
  margin-bottom: 0;
  background: #232F3F;
  border: none;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    opacity: 0.8;
}

.navbar-default .navbar-brand:hover {
    color: white;
    opacity: 0.8;
}
